.scroll,
.scroll * {
  scrollbar-width: thin;
  scrollbar-color: var(--stroke-strong) transparent;
}
.scroll::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.scroll::-webkit-scrollbar-thumb {
  background: var(--stroke-strong);
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
}
.scroll::-webkit-scrollbar-thumb:hover {
  background: var(--text-subtle);
  background-clip: content-box;
  border: 3px solid transparent;
}

#root {
  position: relative;
  z-index: 1;
  height: 100%;
}
